body {
  background-color: darkslategrey;
}

.department {
  margin: 20px 0;
}

.department-image {
  width: 100%;
  height: 400px;
}

.grey-out {
  opacity: 0.4;
}

.department-title {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 200px;
  text-align: center;
}

.item-image {
  width: 100px;
  height: 100px;
}

.item .panel {
  height: 300px;
}